@import "../../../assets/scss/setup/variables";

:host {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: $clr2;
  padding: 1rem 0;
  box-shadow: $light-box-shadow;
  color: $clr5;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
    }
    nav {
      display: flex;
      :not(:last-child) {
        margin-inline-end: 1rem;
      }
      > * {
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
