@import "../../../assets/scss/setup/variables.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    .home-img {
      position: absolute;
      z-index: -1;
      top: 0%;
      bottom: 0;
      right: -40%;
      transform: translateX(-50%);
      left: inherit;
      img {
        max-width: 600px;
      }
    }
  }
  .intro {
    background: linear-gradient(120deg, #ffffff62, #ffffff94);
    backdrop-filter: blur(15px);
    position: relative;
    z-index: 1;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
    border: rgba($clr2-dark, 20%) 1px solid;
    border-radius: 1rem;
    padding: 3rem;

    .user-message {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0 1rem 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.278);
      margin-bottom: 1rem;
      h1 {
        font-weight: 700;
        line-height: 1;
        font-size: 58px;
        margin-bottom: 1rem;
      }
      h4 {
        font-weight: 300;
        font-size: 20px;
      }
    }
  }
}

.signup-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  label {
    margin-inline-end: 0.5rem;
    min-width: max-content;
    flex: 1;
  }
  button {
    position: absolute;
    right: 0;
    transform: translateX(-1.25rem);
    // height: 100%;
  }
}
