<li class="contact-preview">
  <img
    [src]="'https://robohash.org/' + contact.name + '?set=set3'"
    alt="robot contact"
  />
  <div class="details">
    <h2 class="name">
      {{ contact.name }}
    </h2>
    <p class="email">
      {{ contact.email }}
    </p>
    <h5 class="phone badge">
      {{ contact.phone }}
    </h5>
  </div>
  <div class="actions">
    <button [routerLink]="['/contact', contact._id]" class="btn primary">
      <span class="small-icon">
        <mat-icon [inline]="true"> visibility </mat-icon></span
      >
    </button>
    <button (click)="onEditContact()" class="btn primary">
      <span class="small-icon">
        <mat-icon [inline]="true"> mode_edit </mat-icon></span
      >
    </button>
    <button (click)="onDeleteContact()" class="btn secondary">
      <span class="small-icon">
        <mat-icon [inline]="true"> remove_circle </mat-icon></span
      >
    </button>
  </div>
</li>
